<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mettler - Toledo Middleware</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <style>
      .logs {
        background-color: #f8f9fa;
        height: 100vh;
        overflow: auto;
      }
      .about {
        padding: 8px;
      }
      code {
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <div class="layout d-flex">
      <div class="logs d-flex flex-column w-50" id="logs">
        <code>Logs will be located here:</code>
      </div>
      <div class="about">
        <p>Listening on port 3000</p>
        <p>version 4.0.0</p>
        <br />
        <p>Factur Modul VCODisp</p>
        <p>Version: 1.00.00</p>
        <p>CRC: 5FD93A76</p>
        <p>Mettler - Toledo (Albstadt) GmbH</p>
        <p>TC7285</p>
        <p>Version number Dialog 06: d93-09-104 01</p>
      </div>
    </div>

    <script>
      const { ipcRenderer } = require('electron')
      const logsContainer = document.getElementById('logs')
      ipcRenderer.on('log', (event, data) => {
        const log = document.createElement('code')
        log.innerHTML = data
        logsContainer.appendChild(log)
      })
    </script>
  </body>
</html>
