<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html {
        font-size: 12px;
        font-family: 'Arial';
      }
      body, p {
        margin: 0;
      }
      .row {
        display: flex;
      }
      .title {
        min-width: 170px;
      }
      .imageWrap {
        text-align: center;
        padding-bottom: 20px;
      }
      img {
        margin-top: 8px;
      }
      .additionalText {
        font-size: 9px;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="title">Wäge-Bon:</div>
    </div>

    <br>

    <div class="row">
      <span class="title">Artikel:</span>
      <span class="value"><%= unit_price %> €/1kg; </span>
    </div>
    <div class="row">
      <span class="title">Grundpreis:</span>
      <span class="value"><%= unit_price %> €/1kg; </span>
    </div>
    <div class="row">
      <span class="title">Gewogenes Gewicht:</span>
      <span class="value"><%= weight %> kg; </span>
    </div>
    <div class="row">
      <span class="title">Preis:</span>
      <span class="value"><%= selling_price %> € </span>
    </div>


    <% if (shouldPrintAdditionalText) { %>
      <br>
      <div class="additionalText">
        <p>Factur Modul VCODisp</p>
        <p>Version: 1.00.00</p>
        <p>CRC: 5FD93A76</p>
        <p>Mettler - Toledo (Albstadt) GmbH</p>
        <p>TC7285</p>
        <p>Version number Dialog 06: d93-09-104 01</p>
      </div>
    <% } %>

  </body>
</html>
